<table id="table-new-in_cat" class="table table-striped table-hover" data-toggle="popover" data-placement="bottom">
    <tbody>
    <tr>
        <td>
            <input id="new-in_cat-name" class="btn-group-justified" type="text" placeholder=" name" name="name" required="required">
        </td>
        <td>
            <input id="new-in_cat-description" class="btn-group-justified" type="text" placeholder=" description" name="description">
        </td>
        <td>
            <button type="button" id="btn-add-new-in_cat" class="btn btn-primary">Add new</button>
            <button type="button" id="btn-cancel-new-in-cat" class="btn btn-primary">Cancel</button>
        </td>
    </tr>
    </tbody>
</table>