{% load i18n %}
{% load staticfiles %}

<div class="container">
    <div class="col-xs-12">
    <h1 class="text-center">{% trans 'Income sources' %}</h1>
    {% if object_list.count > 0 %}
        {% if grid_size == 'xs' %}
            {% include 'budgme/income/xs_in_cat_table.html' %}
        {% else %}
            {% include 'budgme/income/in_cat_table.html' %}
        {% endif %}
    {% endif %}

    {# add new income source table #}
    {% if grid_size == 'xs' %}
        {% include 'budgme/income/xs_add_in_cat_table.html' %}
    {% else %}
        {% include 'budgme/income/add_in_cat_table.html' %}
    {% endif %}

    </div>
    <div class="col-xs-12 text-right">
        <button type="button" id="btn-show-new-in-cat-row" class="btn btn-primary">Add new</button>
    </div>
</div>