<tr id="in_cat-id_{{ income_category.id }}">
    <td class="field">{{ income_category.name }}</td>
    <td class="field">{{ income_category.description }}</td>
    <td class="buttons">
{#        <a href="" id="btn-edit-in_cat-id_{{ income_category.id }}"#}
{#           class="btn btn-primary table-btn btn-edit_in-cat" style="display: none;">Save</a>#}
{#        <a href="" id="btn-cancel-in_cat-id_{{ income_category.id }}"#}
{#           class="btn btn-warning table-btn" style="display: none;">Cancel</a>#}
        <button type="button" id="btn-edit-in_cat-id_{{ income_category.id }}"
           class="btn btn-primary table-btn btn-edit_in-cat" style="display: none;">Save</button>
        <button type="button" id="btn-cancel-in_cat-id_{{ income_category.id }}"
           class="btn btn-warning table-btn" style="display: none;">Cancel</button>
    </td>
</tr>