{% with id=income_category.id name=income_category.name description=income_category.description %}
<tr id="in_cat-id_{{ id }}"
    data-container="body" data-toggle="popover" data-placement="bottom">
    <td class="field" colspan="2">
        <p id="name-id_{{ id }}">{{ name }}</p>
        <input id="new_name-id_{{ id }}"
               class="btn-group-justified btn-edit_in-cat" type="text"
               placeholder=" name" name="name" style="display: none;"
               value="{{ name }}">
    </td>
    <td class="field">
        <p id="description-id_{{ id }}">{{ description }}</p>
        <input id="new_description-id_{{ income_category.id }}"
               class="btn-group-justified btn-edit_in-cat" type="text"
               placeholder=" description" name="description" style="display: none;"
               value="{{ description }}">
    </td>
</tr>
<tr>
    <td class="buttons text-center" colspan="3">
        <button type="button" id="btn-edit-in_cat-id_{{ id }}"
           class="btn btn-primary table-btn" style="display: none;">Save</button>
        <button type="button" id="btn-cancel-in_cat-id_{{ id }}"
           class="btn btn-warning table-btn" style="display: none;">Cancel</button>
        <button type="button" id="btn-del-in_cat-id_{{ id }}"
           class="btn btn-danger table-btn" style="display: none;">Delete</button>
    </td>
</tr>
{% include 'budgme/income/delete_warnings_row.html' %}
{#<tr id="in_cat_warnings-id_{{ id }}" style="display: none;">#}
{#    <tr>#}
{#        <td colspan="3" class="field">#}
{#            <div class="alert alert-danger" role="alert"#}
{#                 id="delete-warning-id_{{ id }}"></div>#}
{#        </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="3" class="buttons text-center">#}
{#            <button type="button" id="btn-cancel-delete-in_cat-id_{{ id }}"#}
{#               class="btn btn-warning table-btn cancel-del">Cancel</button>#}
{#            <button type="button" id="force-del-in_cat-id_{{ id }}"#}
{#                    class="btn btn-danger table-btn force-del">Force Delete</button>#}
{#        </td>#}
{#    </tr>#}
{#</tr>#}
{% endwith %}