{% load staticfiles %}
<div class="container-fluid">
  <div class="col-12">
    <nav class="navbar navbar-default" style="margin: 0px;">
        <div class="navbar-header">
            <div class="btn-group-justified hidden-lg hidden-md hidden-sm" role="group">
                <a href="/" class="btn btn-inverse logo-style">
                    <img src="{% static 'budgme/budgme_logo_big.png' %}">
                </a>
                <a href="/add-income" class="btn btn-primary btn-rectangle"><span class="glyphicon glyphicon-plus-sign" style="font-size: 25px; color: greenyellow;"></span></a>
                <a href="/add-outcome" class="btn btn-primary btn-rectangle"><span class="glyphicon glyphicon-minus-sign" style="font-size: 25px; color: hotpink;"></span></a>
                <a class="btn btn-inverse navbar-toggle collapsed" data-toggle="collapse" data-target="#xs-menu-div" aria-expanded="false" style="border: none;">
                    <div class="container" style="float: right;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </a>
            </div>
        </div>

{#      xs-menu     #}
        <div class="hidden-xl hidden-lg hidden-md hidden-sm">
            <div class="collapse navbar-collapse" id="xs-menu-div">
                <div class="col-xs-12"><!--  LEFT DIV "Budgets/Period/Profile" -->
                  <div class="row">
                    <div class="col-xs-6 no-padding one-line">
                      <div class="btn-group-justified" role="group">
                          <a href="/budgets" class="btn btn-primary" style="font-size: small; width: 60%;">Budgets
                          <!-- if user have income budgets (not approved) > 0 -->
                          <span class="badge">1</span>
                          <!-- -->
                          </a>
                          <!-- if user have more than one budget -->
                          <a class="btn btn-info" data-toggle="collapse" data-target="#choose-budget-div" style="width: 40%;">
                            <span class="glyphicon glyphicon-transfer" style="font-size: 20px;"></span>
                          </a>
                          <!-- -->
                      </div>
                    </div>
                    <div class="col-xs-6 no-padding one-line">
                      <div class="btn-group-justified" role="group">
                          <a class="btn btn-primary" data-toggle="collapse" data-target="#change-period-div" style="width: 60%;">Month <span class="caret"></span></a>
                          <a href="/profile" class="btn btn-info" style="width: 40%;"><span class="glyphicon glyphicon-tasks" style="font-size: 20px;"></span></a>
                      </div>
                    </div>
                  </div>
                </div><!--  LEFT DIV "Budgets/Period/Profile"  END -->
                <div class="col-xs-12"><!--  CENTRAL DIV "Incomes/Outcomes" -->
                  <div class="row">
                    <div class="col-xs-6 no-padding one-line">
                      <!-- btn plus "add income" -->
                      <div class="btn-group-justified" role="group">
                          <a href="/incomes" class="btn btn-success btn-rectangle" style="width: 100%; text-align: left;"><span class="glyphicon glyphicon-circle-arrow-down" style="font-size: 20px;"></span><br/>Incomes
                            <!-- if user have new incomes (not seen) > 0 -->
                            <span class="badge">3</span>
                            <!-- -->
                          </a>
                          <a href="/income-categories" class="btn btn-info btn-link-categories btn-link-categories-left"><span class="glyphicon glyphicon-cog gly-spin"></span></a>
                      </div>
                    </div>
                    <div class="col-xs-6 no-padding one-line">
                      <!-- btn plus "add outcome" -->
                      <div class="btn-group-justified" role="group">
                        <a href="/outcomes" class="btn btn-warning btn-rectangle" style="width: 100%; text-align: right;"><span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 20px;"></span><br/>Outcomes
                          <!-- if user have new outcomes (not seen) > 0 -->
                          <span class="badge">2</span>
                          <!-- -->
                        </a>
                        <a href="/outcome-categories" class="btn btn-info btn-link-categories btn-link-categories-right"><span class="glyphicon glyphicon-cog gly-spin"></span></a>
                      </div>
                    </div>
                  </div>
                </div><!--  CENTRAL DIV "Incomes/Outcomes"  END -->
            </div>
        </div><!-- xs-menu-div END -->

{#      xl-menu     #}
        <div class="hidden-xs">
            <div class="collapse navbar-collapse">
                <div class="col-12 col-sm-3 col-xl-2" style="text-align: left;"><!-- FIRST DIV "Budgets" -->
                    <div class="row no-padding">
                      <div class="btn-group-justified" role="group">
                          <a href="/" class="btn btn-inverse logo-style hidden-sm" style="width: 25%;">
                              <img src="{% static 'budgme/budgme_logo_big.png' %}">
                          </a>
                          <a href="/budgets" class="btn btn-primary" style="font-size: large; width: 50%;">Budgets
                          <!-- if user have income budgets (not approved) > 0 -->
                          <span class="badge">1</span>
                          <!-- -->
                          </a>
                          <!-- if user have more than one budget -->
                          <a class="btn btn-info" data-toggle="collapse" data-target="#choose-budget-div" style="width: 25%;">
                            <span class="glyphicon glyphicon-transfer" style="font-size: 20px;"></span>
                          </a>
                          <!-- -->
                      </div>
                    </div>
                </div><!-- #budgets-div -->
                <div class="col-12 col-sm-6 col-xl-8"><!--  CENTRAL DIV "Incomes/Outcomes" -->
                  <div class="row">
                    <div class="col-xs-6 no-padding one-line">
                      <!-- btn plus "add income" -->
                      <div class="btn-group-justified" role="group">
                          <a href="/add-income" class="btn btn-primary btn-rectangle hidden-xs" style="width: 30%;"><span class="glyphicon glyphicon-plus-sign" style="font-size: 25px; color: greenyellow;"></span></a>
                          <a href="/incomes" class="btn btn-success btn-rectangle" style="width: 70%; text-align: left;"><span class="glyphicon glyphicon-circle-arrow-down" style="font-size: 20px;"></span><br/>Incomes
                            <!-- if user have new incomes (not seen) > 0 -->
                            <span class="badge">3</span>
                            <!-- -->
                          </a>
                          <a href="/income-categories" class="btn btn-info btn-link-categories btn-link-categories-left hidden-sm"><span class="glyphicon glyphicon-cog gly-spin"></span></a>
                      </div>
                    </div>
                    <div class="col-xs-6 no-padding one-line">
                      <!-- btn plus "add outcome" -->
                      <div class="btn-group-justified" role="group">
                        <a href="/outcomes" class="btn btn-warning btn-rectangle" style="width: 70%; text-align: right;"><span class="glyphicon glyphicon-circle-arrow-up" style="font-size: 20px;"></span><br/>Outcomes
                          <!-- if user have new outcomes (not seen) > 0 -->
                          <span class="badge">2</span>
                          <!-- -->
                        </a>
                        <a href="/add-outcome" class="btn btn-primary btn-rectangle" style="width: 30%;"><span class="glyphicon glyphicon-minus-sign" style="font-size: 25px; color: hotpink;"></span></a>
                        <a href="/outcome-categories" class="btn btn-info btn-link-categories btn-link-categories-right hidden-sm"><span class="glyphicon glyphicon-cog gly-spin"></span></a>
                      </div>
                    </div>
                  </div>
                </div><!--  CENTRAL DIV "Incomes/Outcomes"  END -->
                <div class="col-12 col-sm-3 col-xl-2" style="text-align: center;"><!-- LAST DIV "Month/Profile" -->
                    <div class="row no-padding">
                      <div class="btn-group-justified" role="group" style="height: 64px;">
                          <a class="btn btn-primary" data-toggle="collapse" data-target="#change-period-div" style="width: 70%;">Month <span class="caret"></span></a>
                          <a href="/profile" class="btn btn-info" style="width: 30%;"><span class="glyphicon glyphicon-tasks" style="font-size: 20px;"></span></a>
                      </div>
                    </div>
                </div>
            </div>
        </div><!-- xl-menu-div END -->

    </nav>
  </div>
</div>

<!-- if user have <=3 budgets -->
{#<div id="choose-budget-div" class="collapse container-fluid">#}
{#    <div class="btn-group-justified" role="group">#}
{#      <!-- foreach user budget -->#}
{#      <a href="#" class="active btn btn-info btn-rectangle">Default</a>#}
{#      <!-- -->#}
{#      <a href="#" class="btn btn-info btn-rectangle">Second</a>#}
{#      <a href="#" class="btn btn-info btn-rectangle">Third</a>#}
{#    </div>#}
{#</div>#}
<!-- -->

<!-- if user have more than 3 active budgets -->
<div id="choose-budget-div" class="collapse container">
    <div class="btn-group btn-block" role="group">
      <button type="button" class="btn btn-info dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary <span class="caret"></span></button>
      <ul class="dropdown-menu btn-block">
        <!-- for each budget -->
        <li><a href="#">Action</a></li>
        <!-- -->
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
</div>
<!-- -->

<div id="change-period-div" class="collapse container-fluid">
    <div class="btn-group-justified" role="group">
        <a href="#" class="active btn btn-info btn-rectangle">Month</a>
        <a href="#" class="btn btn-info btn-rectangle">Week</a>
        <a href="#" class="btn btn-info btn-rectangle">Day</a>
        <a href="#" class="btn btn-info btn-rectangle">Hour</a>
        <a href="#" class="btn btn-info btn-rectangle">Custom</a>
    </div>
</div>
